{% extends 'base.html.twig' %}

{% block body %}
    <h1> Confirmation d'inscription </h1>
{% endblock %}

{% block my_javascripts %}
    {% javascripts
        '@FooBarBundle/Resources/public/js/confirm.js'

        filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

 


        <!-- function confirm() { -->
            <!-- {#  {{path('app_login')}} -->
        <!-- } -->

        <!-- setTimeout( confirm(), 2000);  -->

