{% extends 'base.html.twig' %}

{% block body %}
    <h1> Confirmation d'inscription </h1>
{% endblock %}


    {% block javascripts %}

        {# // <script> 
        //         function confirm(){
        //             {{path('app_login')}}
        //         }
        //         setTimeout(confirm, 3000);
        // </script>
         #}
        
    
    {% endblock %}

 


