{% extends 'base.html.twig' %}

{% block body %}
    <h1 id="ce"> Confirmation d'inscription </h1>
{% endblock %}

       


    {% block javascripts %}
                <script> 
                        setTimeout(function() {
                                     return $this->render('app_login');
                         }, 2000);
                         alert('vous êtes inscrit');
                </script>

         {# <script> 
               function confirm(){
                    {{path('app_login')}}
               } 
               window.setTimeout(string confirm, integer 3000);
         </script>
          #}
        
    
    {% endblock %}

 


