{% extends 'base.html.twig' %}

    {% block body %}

        <div class="container">

              <h1 id="ce">Connexion</h1><br/><br/>

            {{ form_start(form) }}

            
            {{ form_row(form.Email,{'label': 'Email', 'attr':{'placeholder':'Adresse email...'}}) }}
            {{ form_row(form.Password,{'label': 'Mot de passe', 'attr':{'placeholder':'Mot de passe...'}}) }}
           

            <button type="submit" class="btn btn-success">Connexion</button>

            {{ form_end(form)}}







        </div>

    {% endblock %}