{% extends 'base.html.twig' %}

{% block body %}

    <div class="container1">

        <br/>
        <h1 id="ce"> Je monte mon financement  </h1>
          <br/><br/>

         <div class="encartb2">

            <a class="lien2" href="#">Je simule mon épargne</a>
            <a class="lien2" href="#">Le nouveau prêt à taux zéro (PTZ+)</a>
            <a class="lien2" href="#">Comment se déroule le financement ?</a>
            <a class="lien2"id="ca" href="#">Quelles sont les aides auxquelles vous<br/> avez droit pour un achat dans le neuf ?</a>
            <a class="lien2" id="ca" href="#">Faut-il passer par une banque ou <br/>un courtier pour son achat dans le neuf ?</a> 
            <br/>
         
         
         </div>

    </div>

{% endblock %}