{% extends 'base.html.twig' %}

{% block body %}

<<<<<<< HEAD
    <div class="container">

            <h1> Salut  {#{{User}}#} ! </h1>

       

    </div>
=======
                        <!--switch message accueil-->
    <h1>Salut  !</h1>

   
>>>>>>> 4e5d6179448276717bff7577c91b53ec2daa2592
{% endblock %}