{% extends 'base.html.twig' %}

    {% block body %}

        <div class="container">

            {% if not app.user %}                         <!--switch message accueil-->
                <h1 id="ce">Bienvenue sur " Quoi de 9 ? "  !</h1>

            {% else %} 
            
                <h1 id="ce">   Bonjour   ! </h1>
                

            {% endif %} 

        </div> 
    {% endblock %}




