{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

            <br/>
            {# {% if app.user %} #}

            <h1 id="ce"> Bonjour  {{'app.user.username'}} ! </h1>

            {# {% endif %} #}
            <br/><br/><br/><br/>

     </div>
            <div class="badges">
                <a class="boite" id="b1" href="#" >
                    <div>                  
                        <p>  Je me renseigne </p>
                    </div>
                </a>
                
                <a class="boite" id="b2" href="#" >
                    <div>                  
                        <p> Je monte mon <br/>&nbsp financement </p>
                    </div>
                </a>
                    
                
               
                 <a class="boite" id="b3" href="#" >
                    <div>                  
                        <p>  Je recherche mon bien </p>
                    </div>
                </a>
                 <a class="boite" id="b4" href="#" >
                    <div>                  
                        <p>  Je réserve mon bien </p>
                    </div>
                </a>
                 <a class="boite" id="b5" href="#" >
                    <div>                  
                        <p>  Je récupère mes clés </p>
                    </div>
                </a>
                
            
            
            
            </div>

       

   
{% endblock %}