{% extends 'base.html.twig' %}

    {% block body %}

        <div class="container">

                <h1 id="ce">Bienvenue sur " Quoi de 9 ? "  !</h1><br/><br/>

            <div class="conthome">
                <div id="cont4">
                    <div  id="b7"><p> Je me connecte <br/> pour continuer</p></div>
                </div>
                <div id="cont2">
					<div id="slider2">
						<figure id="PS">
							<img src="../Img/Imago1.jpg" alt="photo">
							<img src="../Img/Imago2.jpg" alt="photo">
							<img src="../Img/Imago3.jpg" alt="photo">
							<img src="../Img/Imago4.jpg" alt="photo">
							<img src="../Img/Imago5.jpg" alt="photo">
							<img src="../Img/Imago6.jpg" alt="photo">
							<img src="../Img/Imago7.jpg" alt="photo">
							<img src="../Img/Imago8.jpg" alt="photo">
							<img src="../Img/Imago9.jpg" alt="photo">
                            <img src="../Img/Imago10.jpg" alt="photo">							
						</figure>
					</div>
                    
				</div>
                <div id="cont5">
                        <a  id="b6" href="http://127.0.0.1:9999/wordpress" ><div><p> Où trouver son bien <br/> neuf en Île de France ?</p></div></a>
                </div>
            </div>
        </div> 
    {% endblock %}




