{% extends 'base.html.twig' %}

{% block body %}

    <div class="container1">
       
        <h1 id="ce"> Je récupère mes clés  </h1>
          <br/><br/>

        <div class="encartb5">
            <a class="lien5" href="{{path('cles')}}">La remise des clés, une étape importante</a>
            <a class="lien5" href="{{path('garant')}}">Toutes les garanties de l'achat sur plan</a>
            <a class="lien5" href="{{path('check')}}">Checklist à vérifier</a>
            <a class="lien5" href="{{path('astuces')}}">Les petites astuces à suivre le jour de la livraison</a>        
        </div>

    </div>

{% endblock %}