{% extends 'base.html.twig' %}

{% block body %}

    <div class="container1">

        <br/>
        <h1 id="ce"> Je récupère mes clés  </h1>
          <br/><br/>

         <div class="encartb5">

            <a class="lien5" href="#">La remise des clés, une étape importante</a>
            <a class="lien5" href="#">Toutes les garanties de l'achat sur plan</a>
            <a class="lien5" href="#">Checklist à vérifier</a>
            <a class="lien5" href="#">Les petites astuces à suivre le jour de la livraison</a>
            
         
         
         </div>

    </div>

{% endblock %}