{% extends 'base.html.twig' %}

{% block body %}

    <div class="container1">       
        <h1 id="ce"> Je me renseigne  </h1>
         <br/><br/>

         <div class="encartb1">
            <a class="lien1" href="{{path('reussite')}}">Je réussis mon achat dans le neuf</a>
            <a class="lien1" href="{{path('invest')}}">Je réussis mon investissement dans le neuf</a>
            <a class="lien1" href="{{path('conseil')}}">Les conseils pour bien financer votre achat</a>        
         </div>

    </div>

{% endblock %}