{% extends 'base.html.twig' %}

{% block body %}

    <div class="container1">

        <br/>
        <h1 id="ce"> Je réserve mon bien  </h1>
          <br/><br/>

         <div class="encartb4">

            <a class="lien4" href="#">7 clés pour bien comprendre <br/> le contrat de réservation</a>
            <a class="lien4" href="#">5 points à scruter avant de signer<br/> votre contrat de réservation</a>
            <a class="lien4" href="#">Que se passe-t-il après la réservation<br/> de votre contrat de réservation ?</a>
         
         
         </div><br/>

    </div>

{% endblock %}