{% extends 'base.html.twig' %}

{% block body%}

<article>
        <h2>titre de l'article</h2>
        <div class="metadata">Ecrit le 18/04/2019 à 0h00</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="photo">
            <p> Lorem ipsum dolor sit amet...
                Lorem ipsum dolor sit amet...
                Lorem ipsum dolor sit amet...
            </p>

             <p> Lorem ipsum dolor sit amet...
                Lorem ipsum dolor sit amet...
                Lorem ipsum dolor sit amet...
            </p>
           

        </div>
    </article>

{% endblock%}