 <!-- while ($donnees = $select->fetch())

        { ?>
         <p>Laissé par 
                 <?php echo $donnees['auteur'];?>   -->
                <!-- le  -->
                <!-- <?php echo $donnees['date'];?> -->
            <!-- </p> --> 
           
           <!-- <article> --> 
            <!-- <?php -->

              <!-- echo  $donnees['contenu'] ; ?><br/> -->
            <!-- </article><?php  -->
           
         <!-- } -->
         <!-- $select->closeCursor(); --> 