{% extends 'base3.html.twig' %}


          
 
{% block body%}
    
  

        <h1 id="ce"> Commentaires</h1><br/>
        <div class="container" >
             <div class="bodyshow" >
                
                        
                               
                                <br/><br/>
                                <div >
                                    {# {% block content %} #}
                                        {% for donnee in donnees %}
                                            <div class=" bocomm" id="cen" >
                                                <br/>
                                                <p> Laissé par <strong>{{donnee.auteur}}</strong>&nbsp&nbsp&nbsp <small>le : {{donnee.date| date('d/m/Y à H:i')}}</small> 
                                                <br/><br/><br/>
                                                {{donnee.contenu|raw}}</pre></p>
                                            </div>
                                            <br/><br/>
                                        {% endfor %}
                                    {# {% endblock %}                      #}
                                </div>                            
                                
                           
                        
                       
                   
                  

       
    
   
               
            </div>   
        </div>      


{% endblock %}