{% extends 'base3.html.twig' %}
{# {% block head %}
        <use Symfony\Bridge\Twig\TokenParser\DumpTokenParser;>
        <require_once __DIR__ . '/vendor/autoload.php';> 
        {{ include('Pjim1Controller.php') }}
{% endblock %} #}
{% block body%}

     

        <h1 id="ce"> Commentaires</h1><br/>
        <div class="container">
             <div class="bodyshow">
                 

                     

                        <div class="comment">
                               
                            <div class="row">
                                <div ">
                                     {# {{ Commcl.auteur}}  #}
                                   {# <?php var_dump($donnees);  ?> #}

                                                                      
                                </div>                            
                                
                            </div>
                        
                        </div>
                   
                  

       
    
   
               
            </div>   
        </div>      


{% endblock %}