{% extends 'base3.html.twig' %}
{% block head %}
        {# <use Symfony\Bridge\Twig\TokenParser\DumpTokenParser;>
        <require_once __DIR__ . '/vendor/autoload.php';> #}
       {#{{ include('Pjim1Controller.php') }}#}
{% endblock %}
{% block body%}

      <dump($donnees);>

        <h1 id="ce"> Commentaires</h1><br/>
        <div class="container">
             <div class="bodyshow">
                 

                     

                        <div class="comment">
                               
                            <div class="row">
                                <div ">
                                    {# {{ dump($donnees['auteur'])}} #}
                                       < echo $donnees['auteur'] ?>

                                                                      
                                </div>                            
                                
                            </div>
                        
                        </div>
                   
                  

       
    
   
               
            </div>   
        </div>      


{% endblock %}