{% extends 'base4.html.twig' %}


          
 
{% block body%}
    
  

        <h1 id="ce"> Commentaires</h1><br/>
        <div class="container">
             <div class="bodyshow">
                 

                     

                        <div class="comment">
                               
                            <div class="row">
                                <div >
                                    {% block content %}
                                        {% for donnee in donnees %}

                                            <p> <pre>Laissé par {{donnee.auteur}} le {{donnee.date| date('d/m/Y à H:i')}} <br/>
                                            {{donnee.contenu}}</pre></p>
                                        
                                        {% endfor %}
                                    {% endblock %}                     
                                </div>                            
                                
                            </div>
                        
                        </div>
                   
                  

       
    
   
               
            </div>   
        </div>      


{% endblock %}