{% extends 'base3.html.twig' %}


{% block body%}
        

        <h1 id="ce"> Commentaires</h1><br/>
        <div class="container">
             <div class="bodyshow">
                 

                     

                        <div class="comment">

                               {# {{dump(donnees.ResponsesQues)}} #}

                            <div class="row">
                                <div class="col-3">
                                    
                                        echo $donnees['auteur'] ?>  
                                                                      
                                </div>                            
                                <div class="col">
                                          
                                </div>
                            </div>
                        
                        </div>
                   
                  

       
    
   
               
            </div>   
        </div>      


{% endblock %}