{% extends 'base3.html.twig' %}


{% block body%}
         {# {% dump(select) %} #}

        <h1 id="ce"> Commentaires</h1><br/>
        <div class="container">
             <div class="bodyshow">
                 

                     

                        <div class="comment">
                            <div class="row">
                                <div class="col-3">
                                            
                                </div>                            
                                <div class="col">
                                                          
                                </div>
                            </div>
                        
                        </div>
                   
                  

       
    
   
               
            </div>   
        </div>      


{% endblock %}