{% extends 'base3.html.twig' %}

{% block body%}
        <h1 id="ce"> Commentaires </h1>

        <form action="" method="post">

                <p>
                    <label>Votre commentaire</label>
                    <input id="comm" type="text" name="contenu">
                </p>
                <p><input type="submit" value="Commenter"></p>



        </form>       


{% endblock %}